<div class="pt-3 d-inline-flex">
  <%= render 'layouts/messages' %>
</div>

<% if @stock %>
  <div class="pt-3 d-inline-flex">
    <div class="card">
      <div class="card-header results-block">
        <strong>Symbol: </strong> <%= @stock.ticker %>
        <strong>Name: </strong> <%= @stock.name %>
        <strong>Price: </strong> <%= @stock.last_price %>
      </div>
    </div>
  </div>
<% end %>